*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

#home{
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  background-color: white;
 
 
}

#home h1{
  color: black;
  font-size: 35px;
}

#but{
  height: 38px;
  width: 120px;
  border: none;
  background-color: white;
  color: black;
  border: 1px solid rgb(170, 170, 170);
  user-select: none;
  cursor: pointer;
  margin-top: 20px;
}

#buttons{
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}

#tags{
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  color: black;
    margin-top: 25px;
}

#loader{
  display: flex;
  align-items: center;
  justify-content: center;
  min-height: 900px;

  width: 100%;
}

#outer{
  position: absolute;
  top: 0;
  bottom: 0;
  right: 0;
  left: 0;
  background-color: rgba(153, 153, 153, 0.479);
}